<!DOCTYPE html>
<html>
  
    <head >

      <meta charset="UTF-8">
      <title> Mercado Liebre </title>
      <meta http-equiv="X-UA-Compatible" content="IE-edge , chrome=1">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
      <link rel="stylesheet" href="css/styles.css">
       <link href="https://fontawesome.com/icons?d=gallery&m=free" rel="stylesheet">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    
    </head>

    <body>
         <header>

                <div class="flex-contenedor-logo-tablet">
                    <div class="flex-contenedor-logo">
                        <div class="logo"> 
                            <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                            </div>
                
                        <div class="form" action="#" method="GET">
                                <span class="input">Buscar productos, marcas y más </span>
                                <a class="submit"><i class="fa-solid fa-magnifying-glass"></i>       
                        </div>
                    </div>
                        <div class="compra">
                            <p ><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarejta de crédito</p>
                        </div>
                </div>           
                <nav>
                    <ul class="menu">
                            <li class="ofertas"><a href="./ofertas.html">Ofertas</a></li>
                            <li class="tiendas"><a href="./tiendas.html"> Tiendas Oficiales</a></li>
                            <li class="ventas"><a href="./ventas.html"> Vender</a></li>
                            <li class="ayuda"><a href="./ayuda.html">Ayuda</a></li>
                    </ul>
                    <span>
                    </span>
                    <ul class="navbar">
                            <li class="CreaTuCuenta"><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i> </a></li>
                            <li class="Ingresa"><a href="/login"> Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                            <li class="MisCompras"><a href="./MisCompras.html"> Mis compras  <i class="fas fa-shopping-basket"></i></a></li>
                    </ul>
                </nav>
                <section class="menu-hamburguesa">
                    <div class="burger-menu">
                        <i class="fa fa-bars burger"></i>
                    </div>
                </section>
        </header>
        <section class="formulario-login">
            <form action="/" method="POST">
            <p class="usuario">
                <!-- campo para el usuari@ -->
                <label for="usuario"><h5> Usuario:</h5></label>
                <input type="usuario" minlength="4" require name="usuario" id= "usuario" placeholder="crea un nombre de usuario">
            </p>
            <p class="contraseña">
                <!-- campo para la contraseña -->
                <div class="contraseña"><span class="andes-form-control__message">
                    <label for="contraseña"><h5>Ingresá tu contraseña: </h5></label>
                    <div class="andes-form-control__control">
                        <input class="contraseña" type="password" name="password" autocomplete="new-password" autocapitalize="none" spellcheck="false" autocorrect="off" class="andes-form-control__field not-autofilled is-autofilled" 
                        maxlength="20" autofocus="" id="password" aria-invalid="false" placeholder="ingresá aqui tu contraseña"  aria-describedby="password-message">
                    </div>
                </div>
               
            </p>
            <p>
                <!-- campo para botton enviar -->
            <button type="submit" value="Enviar" class="enviar-borrar"> Enviar </button>
                
            </p>
            </form>
        </section>
        <footer >
            <section class="pie">
            </section>
            <div aligne = "center"> 
            <ul>
                <div class="icono-footer">
                <i class="fa-solid fa-credit-card"></i>
                </div>

                <h3> Pagá con tarjeta o en efectivo </h3></a>
                
                Con Mercado Liebre Cash, tenés cuotas sin 
                interés con tarjeta o efectivo en puntos de 
                pago. ¡Y siempre es seguro!
            </ul>
            </div></section>

            <section>
            <div> 
                <ul>
                    <div class="icono-footer">
                    <i class="fa-solid fa-gift"></i>
                    </div>

                    <h3>  Envío gratis desde $ 2.500  </h3></a>
                    
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.
                </ul>
                </div>
            </section>
            <section>
            <div> 
                <ul>
                    <div class="icono-footer">
                    <i class="fa-solid fa-user-shield"></i>
                    </div>

                    <h3>  
                        Seguridad, de principio a fin </h3></a>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.  
                </ul>
            </div>
            </section>
        
        
        </footer>

        <section class="copyright-bloque">
                    
                <a class="copyright"> 
                    
                    Copyright © 1999-2020 MercadoLiebre S.R.L. </a>
                
        
        </section>        
  </body>
</html>