<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styleslogin.css">
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="logo"> 
                    <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                </div>
                <div class="form" action="#" method="GET">
                    <div class="input">Buscar productos, marcas y más</div>
                    <div class="submit"><i class="fa fa-search"></i></div>
                </div>
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <nav>
                <ul class="menu">
                    <li class="ofertas"><a href="./ofertas.html"> Ofertas</a></li>
                    <li class="tiendas"><a href="./tiendas.html"> Tiendas Oficiales</a></li>
                    <li class="ventas"><a href="./ventas.html"> Vender</a></li>
                    <li class="ayuda"><a href="./ayuda.html">Ayuda</a></li>
                </ul>
                <span>
                </span>
                <ul class="navbar">
                        <li class="CreaTuCuenta"><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i> </a></li>
                        <li class="Ingresa"><a href="/login"> Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                        <li class="MisCompras"><a href="./MisCompras.html"> Mis compras  <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>
        <section class="formulario-login">
            <form action="/" method="POST">
            <p>
                <!-- campo para el nombre de usuario-->
                <label for="nombre-de-usuario">Nombre de usuario</label>
                <input type="text" name="nombre-de-usuario" id= "nombre-de-usuario">
                
            </p>
            <p>
                <!-- campo para la contraseña -->
                <label for="contraseña">Ingresá tu contraseña:</label>
                <input type="password" name="password" id= "contraseña">

            </p>
            <p>
                <!-- campo para botton enviar -->
                <button type="submit" value="Enviar"> Enviar </button>
                
            </p>
            </form>
        </section>
  </body>
</html>