/*
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}



header{
    background-color: #EAC926;
}

header div.logo{
    width: 60%;

}

header div.logo{
    padding: 15px;
}

header div.compra{
    
    margin: auto;
    padding: 10px;
}

header nav{
    display: inline;
    font-size: 12px;
    line-height : 20px
    } 


header ul li{
    list-style-type: none;
}

header ul li a{
    color: #000;
    text-decoration: none;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    outline: none;
    padding: 2px;
    width: 70%;
}
header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

header div.top-header p{
    margin-top: 10px;
    text-align: center;
    width: 100%;
    display: flex;
    }

header div p {
    text-align: center;
}

section.menu-hamburguesa{
    display: flex;
    flex-direction: column;
    

}

div.top-header{
    padding: 5%;
}

div.burger-menu{
    display: inline;
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 20px;
    margin: 10px 0px 20px 0px;
    padding: 10px 3px; 
    width: 40px;
    text-align: center;
}

header .menu{

    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

header .navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}



h3,
.description{
    color: #ffff;

}

.description:hover {
    color:#666
}


section.banner img{
    width: 100%;
}

main{
    margin: 0 auto;
    width: 90%;
}
*/

/* FORMULARIO LOGIN

section .formulario-menu{
    -webkit-align-items: center;
    align-items: center;
    background-color: #fff;
    -webkit-border-radius: 0.375em;
    border-radius: 0.375em;
    -webkit-box-shadow: 0 0 0 1px rgb(0 0 0 / 25%);
    box-shadow: 0 0 0 1px rgb(0 0 0 / 25%);
    display: -webkit-flex;
    display: flex;
    font-size: 16px;
    min-height: 48px;
}

form {
    display: grid;
}

section .formulario-usuario{
    padding: 10px;
}

section p.formulario-usuario {
    display: flex;
    padding: 9px;
    }
    
section p .nombre{
    display: flex;
    }
section p .apellido{
    display: flex;
    }
section p .mail{
    display: flex;
    }
section p .usuario{
    display: flex;
    }
section p .fecha-nacimiento{
    display: flex;
    }
section p .domicilio{
    display: flex;
    }
section p .perfil{
    display: flex;
    }
section p .Intereses{
    display: flex;
    padding: 10px;
    }   
section p .foto{
    display: flex;
    padding: 10px;
    }
section p .contraseña{
    display: flex;
    padding: 10px;
    }
section p .confirmar-contraseña{
    display: flex;
    padding: 10px;
    }
section p .enviar-borrar{
    display: flex;
    padding: 10px;
    }
section .categorias-de-intereses {
    padding: 10px;
    display: flex;
}
*/

/*FOOTER*//*
footer {
    background-color: #fff;
    border: solid #ebebeb 5px;
    margin: auto;
    padding: 60px;
    text-align: center;
}

.fa-solid {  color: #1259c3};


.fa-solid { color: #1259c3};


.fa-solid { color: #1259c3};

.copyright { 
    color: rgba(0, 0, 17, 0.432); font-size: 5;
    line-height : 20px;
    margin-top: 20px; 
    text-align: left
    };

section .copyright-bloque {
    padding-block: 20px
    }

*/


/* medias queries


@media (min-width: 100px ){
    main section article .description{
       display: none;
       }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100)}

    header nav{
      display: none;
            } ;
     .productos article {
        display: block;
        flex-wrap: wrap;
        width: 95%;
    }

    header nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    header .flex-contenedor-logo{
        align-items: center;
        display: flex;
        height: 50%;
        flex-wrap: wrap;
        align-items: center;
        height: 70%;
        width: 100%;
        flex-grow: 0.5;
        justify-content: flex-end;
    
    
    }

    div.form {
        font-size: 8px;
        text-size-adjust: auto;
        width: 49%; 
        flex-grow: 100%;
    }
    
    

        
}

@media (max-width: 360px){

    header {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    
    main section article .description{
       display: none;
       }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100)}

    header nav{
      display: none;
            } ;
     .productos article {
        display: block;
        flex-wrap: wrap;
        width: 95%;
    }

    header .flex-contenedor-logo {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 10px auto;
    margin: 10px auto;
    flex-direction: row;
    width: 100%;
    }

    div.form {
    font-size: 8px;
    text-size-adjust: auto;
    flex-grow: 100%;
    width: 100%;
    display: inline-flex;

    }


}



        

        
@media (min-width: 361px){

      
    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        margin: 80% auto;
    }
    .productos{
        display: flex;
        flex-wrap: wrap;
        margin: 10px auto;
    }
    .productos article {
        display: block;
        flex-wrap: wrap;
        margin: 18px auto;
        width: 48%
    }

    

     main section div.products{
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
    }

    .flex-contenedor-logo-tablet {
        align-items: center;
        display: flex;
        height: 50%;
        flex-wrap: nowrap;
        justify-content: flex-end;
        width: 100%;
        flex-direction: row;
        align-content: center;

        }

    header div.logo {
        width: 33%;
        display: flex;
        flex-wrap: wrap;
    }
    


    div .form {
        display: flex;
        align-items: center;
        justify-content: space-evenly;


    }

    
    div .compra {
        display: flex;


    }

    header .flex-contenedor-logo{
        align-items: center;
        display: flex;
        height: 50%;
        flex-wrap: wrap;
        align-items: center;
        height: 70%;
        width: 100%;
        flex-grow: 0.5;
        justify-content: space-between}

    div.burger-menu {
        display: none;
        text-align: center;
    }

    header nav { 
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;

    }
    header .menu {
        flex-grow: 0.25;
        justify-content: space-around;
    }

    header .navbar { 
        display: flex;
        flex-wrap: nowrap;
        flex-grow: 0.25;
        justify-content: space-around;

    }

    
    header .top-header {

        display: flex;

    }

    header div.top-header p {
        margin-top: 10px;
        text-align: center;
        display: flex;
        width: 33%;
    }

    .ofertas {
        display: flex;
    }
    .tiendas {
        display: flex;
    }
    .ventas {
        display: flex;
    }
    .ayuda {
        display: flex;
    }
    .CreaTuCuenta {
        display: flex;
    }
    .Ingresa {
        display: flex;
    }
    .MisCompras {
        display: flex;
    }

}

*/
