/*header*/
*{
    margin: 0px;
    padding: 0px;
    font-family: 'roboto';
    box-sizing: border-box;
}

body{
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
}

h3{
    font-size: 24px;
    color: #666;
}

p{
    font-size: 12px;
}
div.top-header{
    padding: 5%;
}

header{
    background-color: #EAC926;
}

.description:hover {
    color:#666;
}

header .menu{

    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

header .navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}


section.banner img{
    width: 100%;
}

header div.logo{
    width: 60%;

}

header div.logo{
    padding: 15px;
}

header div.compra{
    
    margin: auto;
    padding: 10px;
}

header nav{
    display: inline;
    font-size: 12px;
    line-height : 20px
    } 


header ul li{
    list-style-type: none;
}

header ul li a{
    color: #000;
    text-decoration: none;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    outline: none;
    padding: 2px;
    width: 70%;
}
header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

header div.top-header p{
    margin-top: 10px;
    text-align: center;
    width: 100%;
    }

header div p {
    text-align: center;
}

section.menu-hamburguesa{
    display: flex;
    flex-direction: column;
    

}

div.burger-menu{
    display: inline;
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 10 px;
    color: #FFF;
    font-size: 18;
    margin: auto;
    padding: 15ppx;
    width: 40px;
    max-width: 45px;
    text-align: center;
    display: block;
    padding: 10px 0;
    border-radius: 8px;
    font-size: 20px;
}

/*productos*/

.price{
    flex-grow: 0.3;
    font-size: 18px;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

.description{
    color: #fff;
}

.description{
    display: block;
    margin-top: 20px;
}

main{
    margin: 0 auto;
    width: 90%;
}

main section article{
    background-color: #fff;
    box-sizing: border-box;    
    margin: 10px 0px;
}

main section article .flex-contenedor{
    display: flex;
    padding: 10px 0px;

}

main section article img{
    box-sizing: border-box;
    width: 100%;
}

main section article .discount{
    color: #39b54a;


}

.fas.fa-truck {
    color: #39b54a;
    transition: 
        tranform 300ms;

}

.fas.fa-truck:hover {
    color: #39b54a;
    transform: rotate(-90deg);
}
.discount{
    flex-grow: 0.7;
}


main section article i.fas{
    background-color: #FFF;
    border: 1px solid #39b54a;
    border-radius: 50%;
    display: block;
    font-size: 16px;
    padding: 5px;
    position: absolute;
    right: 20px;
    top: -15px;
    width: 30px;
    height: 30px;
}
    


main section h3{
    margin: 20px 0px;
}

article div.main-article{
    border-top: 1px solid #ebebeb;
    padding: 15px;
    position: relative;
    width: 93%;
}

.productos article {
    display: block;
    flex-wrap: wrap
}

main section article:hover{
    box-shadow: 3px 3px 10px rgb(0, 0, 0)}

/*footer*/


.icono-footer i{
    color:#0044AA

}
.icono-footer i:hover{
    color: #39b54a;
}


.copyright { 
    color: rgba(0, 0, 17, 0.432); font-size: 5;
    line-height : 20px;
    margin-top: 20px; 
    text-align: left
    };

section .copyright-bloque {
    padding-block: 20px
    }

footer {
    background-color: #fff;
    border: solid #ebebeb 5px;
    margin: auto;
    padding: 60px;
    text-align: center;
   
}
.formulario-usuario {
    margin: 20px;
}


/* login */

section .formulario-menu{
    -webkit-align-items: center;
    align-items: center;
    background-color: #fff;
    -webkit-border-radius: 0.375em;
    border-radius: 0.375em;

    display: -webkit-flex;
    display: flex;
    font-size: 16px;
    min-height: 48px;
    margin: auto;
    max-width: 800px;
    padding: 20px 15px;
}

form {
    display: grid;
}

section .formulario-usuario{
    padding: 10px;
    max-width: 800px;
    padding: 20px 15px;
    -webkit-align-items: center;
    align-items: center;
    background-color: #fff;
    -webkit-border-radius: 0.375em;
    border-radius: 0.375em;
    -webkit-box-shadow: 0 0 0 1px rgb(0 0 0 / 25%);
    box-shadow: 0 0 0 1px rgb(0 0 0 / 25%);
    display: -webkit-flex;
    display: flex;
    font-size: 16px;
    min-height: 48px;
}

section p.formulario-usuario {
    display: flex;
    padding: 9px;
    }
    
section p .nombre{
    display: flex;
    }
section p .apellido{
    display: flex;
    }
section p .mail{
    display: flex;
    }
section p .usuario{
    display: flex;
    }
section p .fecha-nacimiento{
    display: flex;
    }
section p .domicilio{
    display: flex;
    }
section p .perfil{
    display: flex;
    }
section p .Intereses{
    display: flex;
    padding: 10px;
    }   
section p .foto{
    display: flex;
    padding: 10px;
    }
section p .contraseña{
    display: flex;
    padding: 10px;
    }
section p .confirmar-contraseña{
    display: flex;
    padding: 10px;
    }
section .categorias-de-intereses {
    padding: 10px;
    display: flex;
    }

.enviar-borrar {
    margin-top: 20px;
    background-color: #1259c3;
    color: #FFF;
    border: none;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100%;
    transition: background-color 400ms;
}
.enviar-borrar:hover{
    background-color: #0022AA;

}
/*login*/
.formulario-login {
    margin-left: 40px;
    margin-right: 40px;
}
.contraseña {
    width: 100%;
}

/*medias queris*/

@media (min-width: 100px ){

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100)}

    header nav{
      display: none;
            } ;
     .productos article {
        display: block;
        flex-wrap: wrap;
        width: 95%;
    }

    header nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    header .flex-contenedor-logo{
        align-items: center;
        display: flex;
        height: 50%;
        flex-wrap: wrap;
        align-items: center;
        height: 70%;
        width: 100%;
        flex-grow: 0.5;
        justify-content: flex-end;
    
    
    }

    div.form {
        font-size: 8px;
        text-size-adjust: auto;
        width: 49%; 
        flex-grow: 100%;
    }
    
    

        
}

@media (max-width: 360px){
    main section article .description{
       display: none;
       }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100)}

    header nav{
      display: none;
            } ;
     .productos article {
        display: block;
        flex-wrap: wrap;
        width: 95%;
    }

    header .flex-contenedor-logo {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 10px auto;
    margin: 10px auto;
    flex-direction: row;
    width: 100%;
    }

    div.form {
    font-size: 8px;
    text-size-adjust: auto;
    width: 49%; 
    flex-grow: 100%;
}



        
}
        
@media (min-width: 361px){

      
    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        margin: 80% auto;
    }
    .productos{
        display: flex;
        flex-wrap: wrap;
        margin: 10px auto;
    }
    .productos article {
        display: block;
        flex-wrap: wrap;
        margin: 18px auto;
        width: 48%
    }

    

     main section div.products{
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
    }

    .flex-contenedor-logo-tablet {
        align-items: center;
        display: flex;
        height: 50%;
        flex-wrap: nowrap;
        justify-content: flex-end;
        width: 100%;
        flex-direction: row;
        align-content: center;

        }

    header div.logo {
        width: 33%;
        display: flex;
        flex-wrap: nowrap;
    }
    


    div .form {
        display: flex;
        align-items: center;
        justify-content: space-evenly;


    }

    
    div .compra {
        display: flex;


    }

    header .flex-contenedor-logo{
        align-items: center;
        display: flex;
        height: 50%;
        flex-wrap: wrap;
        align-items: center;
        height: 70%;
        width: 100%;
        flex-grow: 0.5;
        justify-content: space-between}

    header .menu-hamburguesa {
        display: none
    }
    

    header nav { 
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;

    }
    header .menu {
        flex-grow: 0.25;
        justify-content: space-around;
    }

    header .navbar { 
        display: flex;
        flex-wrap: nowrap;
        flex-grow: 0.25;
        justify-content: space-around;

    }

    .ofertas {
        display: flex;
    }
    .tiendas {
        display: flex;
    }
    .ventas {
        display: flex;
    }
    .ayuda {
        display: flex;
    }
    .CreaTuCuenta {
        display: flex;
    }
    .Ingresa {
        display: flex;
    }
    .MisCompras {
        display: flex;
    }

}



@media (min-width: 500px) {
    
    a.submit {
        display: flow-root;
        flex-basis: max-content;
    }

    
    
}


@media (max-width: 769px){
    main section div.products article{
        width: 22%;
        
    }
}


@media (min-width: 769px){

    .productos{
        display: flex;
        flex-wrap: inherit;
        margin: 10px auto;
    }

    .productos article {
        margin: 18px auto;
        width: 24%;
        
    }

    footer {
        background-color: #fff;
        border: solid #ebebeb 5px;
        margin: auto;
        padding: 60px;
        text-align: center;
        display: flex;
        flex-wrap: nowrap;
       
    }
}



