*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}
div.top-header{
    padding: 5%;
}

header{
    background-color: #EAC926;
}

header div.logo{
    width: 60%;

}

header div.logo{
    padding: 15px;
}

header div.compra{
    
    margin: auto;
    padding: 10px;
}

header nav{
    font-size: 12px;
    display: inline;
    line-height : 20px
    } 


header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
    width: 70%;
}
header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    }

header div p {
    text-align: center;
}

div section.menu-hamburguesa{
    text-align: center

}

div.burger-menu{
    text-align: center;
    display: inline;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 20px;
    margin: 10px 0px 20px 0px;
    padding: 10px 3px; 
    width: 40px;
}

.price{
    font-size: 18px;
    flex-grow: 0.3;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

.description{
    display: none;
    margin-top: 20px;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
    box-sizing: border-box;
}

main section article .flex-contenedor{
    display: flex;
    padding: 10px 0px;

}

main section article img{
    width: 100%;
    box-sizing: border-box;
}

main section article i,
.discount{
    color: #39b54a;

}
.discount{
    flex-grow: 0.7;
}

main section article i.fas{
    font-size: 16px;
    padding: 5px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    right: 20px;
    display: block;
    position: absolute;
    top: -15px;
    
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 93%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    position: relative;
}

main section article .description{
    display: inline-flex;
}

.fa-solid {  color: #1259c3};


.fa-solid { color: #1259c3};


.fa-solid { color: #1259c3};

.copyright { font-size: 5; 
    color: rgba(0, 0, 17, 0.432); 
    text-align: left;
    line-height : 20px;
    margin-top: 20px
    };

section .copyright-bloque {
    padding-block: 20px
    }

footer {
    padding: 60px;
    margin: auto;
    text-align: center;
    background-color: #fff;
    border: solid #ebebeb 5px;
}

@media (max-width: 361px){
    main section article .description{
       display: none;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100)}

    header nav{
      display: none;
            } 

        
}
        
@media (min-width: 361px){

    div.burger-menu {
        visibility: hidden;
    }
    
    .productos{
        display: flex;
    }
    .productos article {
        width: 48%;
        margin: 10px auto;
    }
}


@media (max-width: 769px){

        
}







